/* rules for the main page body */

body{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

a {
  color:white;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: mistyrose;
  text-shadow: 1px 1px magenta;
}

h1,h2,h3 {
  font-weight: 100;
}

/* rules for the main container */

.main-container{
  position: relative;
  width: calc(100vw-15px);
  margin: 0 auto;
}

.page1 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../images/greenbg.png") center center/100% 100% no-repeat;
}

.frame {
  position: relative;
  width: 85%;
  height:100%;
  margin: 0 auto;
}

/* rules for the main page header */

header {
  position: absolute;
  top: 2vh;
  width:100%;
}

.nav-bar {
  display: flex;
  width: 100%;
  align-items: center;
}

.brand-header {
  margin-right: auto;
}

.menu {
  display: block;
}

.menu li {
  display: inline-block;
  margin: 0 10px;
}

.icon-btn {
  display: inline-block;
  font-size: 12px;
  padding: 0.7rem;
  border-radius: 50%;
  margin: 0 10px;
} 

.menu-btn {
  display: none;
  padding: 0.65rem 0.7rem 0.65rem 0.7rem;
}

.like-btn,
.menu-btn {
  background-color: #8ED456;
}

.cart-btn {
  background-color: #D8055A;
}


/* rules for the main text */

.main-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40vh;
  bottom: 5vh;
}

.caption {
  text-align: center;
  font-size: 60px;
}

.sub-caption {
  font-size: 25px;
}

.order-btn {
  width: 60%;
  text-align: center;
  padding: 10px;
  background-color: #D8055A;
  margin-top: 25px;
  border-radius: 20px;
  margin-bottom: auto;
}


/* rules for the main-img */


.main-img-container {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60vw;
  height: 80vh;
  overflow: hidden;
}

.main-img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 100%;
  height: 100%; 
}

/* rules for the Best Offers section */

.page2 {
  position: relative;
  width: 100%;
  height: 100vh;
}

.best-offers{
  position: absolute;
  width: 100%;
  color: black;
}

.best-offers-bar {
  position: relative;
  display: flex;
  top: 4vh;
  width: 100%;
  justify-content: space-between;
  font-size: 1.8rem;
}

.arrows i {
  color: lightgray;
}

.offers {
  display: flex;
  position: relative;
  top: 10vh;
  height: 70vh;
  width:100%;
  overflow: hidden;
}

.offer {
  border: 1px solid whitesmoke;
  background-color: #fcfcfc;
}


.left-offer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin-right: 1vw;
  padding: 1rem 1rem 0 1rem;
}

.left-offer-info {
  position: relative;
}

.name-price {
  display: block;
  font-weight: 600;
  line-height: 1.5rem;
}

.purple-cart {
  color: #d8055a;
}

.discount {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem 0.5rem 1rem 0.5rem;
  color: white;
  font-size: 16px;
  font-weight: 600;
  background-color: #55bf00;
  border-radius: 50%;
}

 .left-offer img{
    align-self: center;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.offers-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  margin-left: 1rem;
}

.right-offer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;   
  padding: 1rem 1rem 0 1rem;
}

.right-offer-info {
  flex: 1;
}

.right-offer img{
  height: 100%;
  width: auto;
  overflow: hidden;
}

.upper-right-offer {
  margin-bottom: 1rem;
}

.lower-right-offer {
  margin-top: 1rem;
}

/* media query for mobile devices screen     ****************/

@media all and (max-width: 1024px){

  /* rules for the main container */

  .main-container{
    width: calc(100vw-15px);
    margin: 0;
  }

  .frame {
    width: 100%;
  }
  
  /* rules for the navigation bar*/

  .nav-bar {
    width: 95%;
    margin: 0 auto;
  }
  
  .menu {
    display: none;
  }

  .menu-btn {
    display: inline;
  }

  .icon-btn {
    margin: 0 1vw;
  }
  
  /* rules for the main text */
  
  .main-text {
    display:flex;
    align-items: center;
    width: 100%;
    top: 15vh;
  }

  .sub-caption {
    text-align: center;
  }

  .order-btn {
    width: 40%;
  }

  .phone {
    display: none;
  }

 
  /* rules for the main image */
  
  .main-img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 55vh;
    overflow: hidden;
  }
  
  .main-img {
    top: 0;
    right: auto;
    width: 150%;
    height: auto; 
  }

  /* rules for the Best Offers section */

  .best-offers {
    width: 100%;
  }

  .best-offers-bar {
    width: 90%;
    margin: 0 auto;
  }
  
  .offers {
    width: 90%;
    margin: 0 auto;
  }

  .offer-left {
    margin: 0;
  }

  .offers-right {
    display: none;
  }


  
}

/* media query for small screen devices         ***************/

@media all and (max-width: 450px){

  .brand-header{
    font-size: 15px;
  }

  .icon-btn {
    font-size: 10px;
    padding: 8px;
  }

  .caption {
    font-size: 35px;
  }

  .sub-caption {
    font-size: 18px;
  } 

  .order-btn {
    width: 50%;
    font-size: 15px;
    padding: 6px;
    margin-top: 15px;
  }

  .main-img {
    top: 10vh;
  }
}