/* rules for the body */

body {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

a {
  color:white;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: mistyrose;
  text-shadow: 1px 1px magenta;
}

h1,h2,h3 {
  font-weight: 100;
}

/* rules for the header */

header {
  height: 3rem;
  background-image: url("../images/greenbg.png");
  padding-top: 0.5rem;
  background-size: auto;
  background-position: -20rem -20rem;
}

.nav-bar {
  display: flex;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}

.nav-bar span {
  margin-right: auto;
}

.menu {
  display: block;
}

.menu li {
  display: inline-block;
  margin: 0 10px;
}

.icon-btn {
  display: inline-block;
  font-size: 12px;
  padding: 0.7rem;
  border-radius: 50%;
  margin: 0 10px;
} 

.menu-btn {
  display: none;
  padding: 0.65rem 0.7rem 0.65rem 0.7rem;
}

.like-btn,
.menu-btn {
  background-color: #8ED456;
}

.cart-btn {
  background-color: #D8055A;
}

/* rules for the main container */

.selected-product {
  display: flex;
  width: 85%;
  margin: 3rem auto;
}

.product-img {
  position: relative;
  flex: 1;
  background-color: #fcfcfc;
  border: 1px solid whitesmoke;
}

.upper-elements{
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: 2rem;
}

.ball {
  width: 12px;
  height: 12px;
  background: #dbf2bf;
  border-radius: 50%;
  margin: 5px 0;
}

.ball1 {
  background: #55bf00;
}

.discount {
  display: inline-block;
  font-size: 1rem;
  background:#55bf00;
  padding: 0.7rem 0.2rem;
  border-radius: 50%;
}

.lower-elements {
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: absolute;
  color: gray;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
}

.lower-elements span{
  font-size: 1rem;
}

.selected-product img{
  width: 100%;
  height: auto;
}

.img-frame {
  width: 50%;
  margin: 3rem auto;
}

.product-info {
  flex: 1;
  color: black;
  border: 1px solid whitesmoke;
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
  margin: 2rem auto;
}

.title h1{
  display: inline-block;
  font-size: 2rem;
}

.title i{
  color: #D8055A;
  font-size: 1rem;;
}

.size {
  display: block;
  width: 88%;
  font-weight: 600;
  margin: 1rem auto;
}

.size-options {
  width: 88%;
  font-size: 0.8rem;
  margin: 0 auto;
}

.option-size {
  display: inline-block;
  width: 2.5rem;
  font-weight: 600;
  padding: 0.2rem 0.8rem;
  margin: 0 0.5rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
}

.option-size1 {
  border: 2px solid #55bf00;
  margin-left: 0;
}
