/* rules for the body */

body {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

a {
  color:white;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: mistyrose;
  text-shadow: 1px 1px magenta;
}

h1,h2,h3 {
  font-weight: 100;
}

/* rules for the header */

header {
  height: 3rem;
  background-image: url("../images/greenbg.png");
  padding-top: 0.5rem;
  background-size: auto;
  background-position: -20rem -20rem;
}

.nav-bar {
  display: flex;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}

.nav-bar span {
  margin-right: auto;
}

.menu {
  display: block;
}

.menu li {
  display: inline-block;
  margin: 0 10px;
}

.icon-btn {
  display: inline-block;
  font-size: 12px;
  padding: 0.7rem;
  border-radius: 50%;
  margin: 0 10px;
} 

.menu-btn {
  display: none;
  padding: 0.65rem 0.7rem 0.65rem 0.7rem;
}

.like-btn,
.menu-btn {
  background-color: #8ED456;
}

.cart-btn {
  background-color: #D8055A;
}

/* rules for the main container */

.selected-product {
  display: flex;
  width: 85%;
  margin: 3rem auto;
}

.product-img {
  position: relative;
  flex: 1;
  background-color: #fcfcfc;
  border: 1px solid whitesmoke;
}

.upper-elements{
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: 2rem;
}

.ball {
  width: 12px;
  height: 12px;
  background: #dbf2bf;
  border-radius: 50%;
  margin: 5px 0;
}

.ball1 {
  background: #55bf00;
}

.discount {
  display: inline-block;
  font-size: 1rem;
  background:#55bf00;
  padding: 0.7rem 0.2rem;
  border-radius: 50%;
}

.lower-elements {
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: absolute;
  color: gray;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
}

.lower-elements span{
  font-size: 1rem;
}

.selected-product img{
  width: 100%;
  height: auto;
}

.img-frame {
  width: 50%;
  margin: 3rem auto;
}

.product-info {
  flex: 1;
  color: rgb(172, 154, 154);
  border: 1px solid whitesmoke;
}

.line {
  width: 88%;
  font-size: 1rem;
  font-weight: 600;;
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
}

.title h1{
  display: inline-block;
  font-size: 2rem;
}

.title i{
  color: #D8055A;
  font-size: 1rem;;
}

.size {
  display: block;
  margin: 1rem auto;
}

.size-options {
  font-size: 0.8rem;
  margin: 0 auto;
}

.option-size {
  display: inline-block;
  width: 2.5rem;
  font-weight: 600;
  padding: 0.2rem 0.8rem;
  margin: 0 0.5rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
}

.option-size1 {
  border: 2px solid #55bf00;
  margin-left: 0;
}

.other-options {
  display: flex;
  justify-content: flex-start;
  margin: 1.5rem auto;
}

.color-picker {
  display: inline-block;
  margin: 1rem 1rem 1rem 0;
  font-size: 1rem;
}

.color-ball {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin: 1rem 0.4rem;
}

.color-ball1 {
  margin-left: 0;
  background: #9B1844;
}

.color-ball2 { background: #D8055A; }
.color-ball3 { background: #FFACC7; }
.color-ball4 { background: #FFD6E4; }

.delivery {
  display: inline-block;
  margin: 1rem auto;
  font-size: 1rem;
}

.delivery-option {
  display: inline-block;
  height: 1rem;
}

.checkmark {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 1px solid #55bf00;
  margin-right: 0.5rem;
}

.checkmark2 {
  margin-left: 1rem;
}

.options-line {
  margin: 1rem 0;
}

.total {
  margin: 0 auto;
}

.total .old-price {
  color: gray;
  text-decoration-line: line-through; 
  margin-right: 1rem;
}

.total .new-price {
  font-size: 1.5rem;
}

.buy-btn {
  display: inline-block;
  color: white;
  background: #D8055A;
  padding: 1rem 3rem;
  cursor: pointer;
  border-radius: 2rem;
  margin-left: 2rem;
}
/* media querys */

@media all and (max-width: 1024px){

    /* rules for the navigation bar*/

    .nav-bar {
      width: 95%;
      margin: 0 auto;
    }
    
    .menu {
      display: none;
    }
  
    .menu-btn {
      display: inline;
    }
  
    .icon-btn {
      margin: 0 1vw;
    }
    /* rules for the header  */
  
    .page-header {
      top: 1.2rem;
    }

    /* rules for the main container */

  .selected-product {
    flex-wrap: wrap;
  }

  .product-img {
    min-width: 500px;
  }
  .product-info {
    min-width: 500px;
  }

}
